apiVersion: apps/v1
kind: Deployment
metadata:
  name: deployment-backend-{{ include "backend.nameid" . }}
  labels:
    app: deployment-backend-{{ include "backend.nameid" . }}
    nameid: {{ include "backend.nameid" . }}
    version: {{ .Values.version }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: deployment-backend-{{ include "backend.nameid" . }}
  template:
    metadata:
      labels:
        app: deployment-backend-{{ include "backend.nameid" . }}
        {{- if .Values.podLabels }}
        {{- toYaml .Values.podLabels | nindent 8 }}
        {{- end }}
    spec:
      containers:
      - name: deployment-backend-{{ include "backend.nameid" . }}
        image: {{ .Values.image }}
        imagePullPolicy: Always
        ports:
        - containerPort: 5000
        volumeMounts:
        - name: backend-config
          mountPath: /config
        {{- if not .Values.deployment.disableMountSecrets }}
        - name: backend-config-secrets
          mountPath: /secrets
        {{- end }}
        {{- if not .Values.deployment.disableMountSecrets }}
        args: ["start", "--config", "/config/config.yaml", "--config-override", "/secrets/secrets.yaml"]
        {{- else }}
        args: ["start", "--config", "/config/config.yaml"]
        {{- end }}
      {{- if .Values.deployment.postgresEnabled }}
      - name: postgres
        image: postgres
        ports:
        - containerPort: 5432
        env:
        - name: POSTGRES_USER
          value: admin
        - name: POSTGRES_PASSWORD
          value: password
        - name: POSTGRES_DB
          {{- if .Values.deployment.postgresDBName }}
          value: {{ .Values.deployment.postgresDBName }}
          {{- else }}
          value: chorus
          {{- end }}
      {{- end }}
      serviceAccountName: backend-service-account-{{ include "backend.nameid" . }}
      imagePullSecrets:
      - name: regcred
      volumes:
      - name: backend-config
        secret:
          secretName: backend-config-{{ include "backend.nameid" . }}
          items:
          - key: config.yaml
            path: config.yaml
          - key: privkey.pem
            path: privkey.pem
          - key: pubkey.pem
            path: pubkey.pem
      {{- if not .Values.deployment.disableMountSecrets }}
      - name: backend-config-secrets
        secret:
          secretName: backend-secrets
          items:
          - key: secrets.yaml
            path: secrets.yaml
      {{- end }}