apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "backend.serviceAccountName" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "backend.labels" . | nindent 4 }}
{{- if .Values.serviceAccount.createSecret }}
secrets:
  - name: {{ include "backend.serviceAccountSecretName" . }}
{{- end }}
