apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ include "backend.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "backend.labels" . | nindent 4 }}
subjects:
- kind: ServiceAccount
  name: {{ include "backend.serviceAccountName" . }}
roleRef:
  kind: Role
  name: {{ include "backend.fullname" . }}
  apiGroup: rbac.authorization.k8s.io
