daemon:
  title: "chorus"
  grpc:
    max_recv_msg_size: 1073741824 # 1GB
    max_send_msg_size: 1073741824 # 1GB
  http:
    host: 0.0.0.0
    port: 5000
    max_call_recv_msg_size: 1073741824 # 1GB
    max_call_send_msg_size: 1073741824 # 1GB
    headers:
      access_control_allow_origins: 
        - "http://localhost:3000"
      access_control_allow_origin_wildcard: true
      access_control_max_age: "600"
      cookie_domain: "localhost"
  jwt:
    secret: eREH6oV#&6bX&zadL%
    expiration_time: 72h
    max_refresh_time: 4320h #180d
  jobs:
    job_status_gc:
      enabled: true
  private_key_file: ./configs/dev/files/keys/chorus_privkey.pem
  public_key_file: ./configs/dev/files/keys/chorus_pubkey.pem
  salt: primary-2tiptop-violator-6bloating-2coastline-1spearmint-unruffled5-comfy-operation4

storage:
  datastores:
    chorus:
      type: postgres 
      host: 127.0.0.1
      port: 5432
      username: admin
      password: password
      database: chorus
      max_connections: 10
      max_lifetime: 10s
      ssl:
        enabled: false
        certificate_file: /chorus/postgres-certs/client.crt
        key_file: /chorus/postgres-certs/client.key
  file_stores:
    archive:
      type: minio
      minio_config:
        enabled: true
        endpoint: localhost:9000
        access_key_id: minioadmin
        secret_access_key: minioadmin
        bucket_name: chorus-data
        use_ssl: false
        multipart_min_part_size: 5242880 # 5MB
        multipart_max_part_size: 5368709120 # 5GB
        multipart_max_total_parts: 10000
    scratch:
      type: minio
      minio_config:
        enabled: true
        endpoint: localhost:9000
        access_key_id: minioadmin
        secret_access_key: minioadmin
        bucket_name: chorus-data
        use_ssl: false
        multipart_min_part_size: 5242880 # 5MB
        multipart_max_part_size: 5368709120 # 5GB
        multipart_max_total_parts: 10000
    disk:
      type: disk
      disk_config:
        enabled: true
        base_path: docker/.diskfilestore

services:
  index_service:
    key: value
  authentication_service:
    enabled: true
    auth_ui_enabled: true
    modes:
      internal:
        type: internal
        enabled: true
        main_source: true
        public_registration_enabled: true
        button_text: "Login with CHUV"
        icon_url: "data:image/svg+xml;base64,CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSJjdXJyZW50Q29sb3IiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1hcnJvdy1yaWdodCBtci0yIGgtNCB3LTQiPjxwYXRoIGQ9Ik01IDEyaDE0Ij48L3BhdGg+PHBhdGggZD0ibTEyIDUgNyA3LTcgNyI+PC9wYXRoPjwvc3ZnPgo="
        order: 1
      keycloak:
        type: openid
        enabled: true
        button_text: "Login with local keycloak"
        icon_url: "data:image/svg+xml;base64,CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSJjdXJyZW50Q29sb3IiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1hcnJvdy1yaWdodCBtci0yIGgtNCB3LTQiPjxwYXRoIGQ9Ik01IDEyaDE0Ij48L3BhdGg+PHBhdGggZD0ibTEyIDUgNyA3LTcgNyI+PC9wYXRoPjwvc3ZnPgo="
        order: 2
        openid:
          id: keycloak
          chorus_backend_host: "http://localhost:5000"
          enable_frontend_redirect: true
          chorus_frontend_redirect_url: "http://localhost:3000/oauthredirect"
          authorize_url: "http://localhost:8080/realms/chorus/protocol/openid-connect/auth"
          token_url: "http://localhost:8080/realms/chorus/protocol/openid-connect/token"
          user_info_url: "http://localhost:8080/realms/chorus/protocol/openid-connect/userinfo"
          logout_url: "http://localhost:8080/realms/chorus/protocol/openid-connect/logout?client_id=chorus&post_logout_redirect_uri=http://localhost:3000"
          user_name_claim: "preferred_username"
          # final_url_format: "http://localhost:3000/login?token=%s"
          client_id: chorus
          client_secret: "kIakn3wsHHpwxzY5vYicvIqMOyAQeBZv"
          scopes:
            - openid
            - profile
            - email
            - roles
      keycloakdev:
        type: openid
        enabled: true
        button_text: "Login with dev keycloak"
        icon_url: "data:image/svg+xml;base64,CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSJjdXJyZW50Q29sb3IiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1hcnJvdy1yaWdodCBtci0yIGgtNCB3LTQiPjxwYXRoIGQ9Ik01IDEyaDE0Ij48L3BhdGg+PHBhdGggZD0ibTEyIDUgNyA3LTcgNyI+PC9wYXRoPjwvc3ZnPgo="
        order: 3
        openid:
          id: keycloakdev
          chorus_backend_host: "http://localhost:5000"
          enable_frontend_redirect: true
          chorus_frontend_redirect_url: "http://localhost:3000/oauthredirect"
          authorize_url: "https://auth.dev.chorus-tre.ch/realms/chorus/protocol/openid-connect/auth"
          token_url: "https://auth.dev.chorus-tre.ch/realms/chorus/protocol/openid-connect/token"
          user_info_url: "https://auth.dev.chorus-tre.ch/realms/chorus/protocol/openid-connect/userinfo"
          logout_url: "https://auth.dev.chorus-tre.ch/realms/chorus/protocol/openid-connect/logout?client_id=chorus&post_logout_redirect_uri=http://localhost:3000"
          user_name_claim: "preferred_username"
          # final_url_format: "http://localhost:3000/login?token=%s"
          client_id: chorus
          client_secret: "73JeNqH0iMSi9UEcuydEpIgW2CoX5ABz"
          scopes:
            - openid
            - profile
            - email
            - roles
  openid_connect_provider:
    enabled: true
    issuer_url: "http://localhost:5000/openid-connect"
    frontend_interactions_url: "http://localhost:5000/auth-ui"
    scopes: 
      - openid
      - profile
      - email
      - roles
    jwks: |
      {
        "keys": [
          {
            "use": "sig",
            "kty": "RSA",
            "kid": "chorus-backend-jwk-1",
            "alg": "RS256",
            "n": "vs3QBylCacEYjRICeQcxIAHR54RGgh-p5ItKNMXwNfvTIAPxPKA4_PDVLSc2EQJlfOIHEQ1Fh1SubV2BxBChzVu_iFM7ORIyaCZRnIB87Wg4IixwZBqrOLII-Qmj2DaYay6yuS9EvdmHT1B2Zu_SvX2tnO-xZ7LOr9OXaVMOeJPDeVy-lQpm-GoUFNnIHlYgX7_EBSafzt8VEANPCJkrsFrjIKGYCG1rTvOOxZL1VlLqoxhnyv8_ampxsnX9o_UblEgcu6Yii9vILmH7VBA2lm8ZkSX1NTVDkdvWzPuPZaz56Vjt6W2-z2csTlU5gY9M_rVIwdS88HUG5sm010K62Q",
            "e": "AQAB",
            "d": "IDIVWKf_I14oWOGBlk9-3BJCi4jX5uwV3FEen-IIgutvuBbCNYMpqpCuv_Q-XMdlPZncLGXrZgcFecHN_Dn8O20wV_4HX71w0P8qRTivG9Y6ppWOD24qlyH_fppAUeMAfBGAqdvOgyR5_wmqOPtduYjD61fMvR1AYA3ZnjWcGv809LgCiFBAwA5zSA5_hu1baDNmXN4oKBhecVD4CWEN6Ob-d53HAvxxT6b3ArT0mdZER5puJtcLdlWsJ_yXL1C5x6ZuPg-3h6aWKq0d-en4_e4_G4r7pH-8McYBf_MpWqm3i9SXdIJZH9ViVY1X0C50nx9m72Su40snIs1jOuyoiQ",
            "p": "9nHkSGl3ZctwS-PIE9fCYEVnx2wlF7d5c9zEr0-bAwcrQgzG42iF3SgtWzDvwDr2dg3em0wf9HmJD-gsseHpRkSUZ5w5MCNaLJdwcLuyYrQpb2CSjCdXx30mM6aEMA3i_qHKP_f00BQAFYVLXwBw35P5_ch6MZeDVxiF6CZfEg0",
            "q": "xjOnAnj35pTJFy2RLPTTtH32ASbmrW_9brHr3hFsFvPSmAvxbIfXb68zOIfZIJnjcCccGoDnpItX08N8dtR8qYnNebuMKXv1-TlGC6dPjuCKvgugf0c4nsgvD_FhaHHdicOowzE4Kx0VEOgiye2-AJPDhW559qKGMXHQ-gugdP0",
            "dp": "IulXcXqfU2hSbC3EdismegTbAsErMATpy6QGqN8aEn-9fQnaUvTHoeDDLBvumsi_iVHFqzJJhJSC-iHl0v0x0qZ8b4EOCOe5Kn_5ib7NMnZbOE_x8rDQGo58Du0T5MrS0UeSIyW5JJDwwhuz5a1mUAXicDUqOkRAcuIidhSZezE",
            "dq": "YhVNoLucck9O9Flobob5_WgYRZmqrkmtcQo7Xznf87vVi8jdQIg45NwezOrtWGTPWMEB91uzRopufC1RerzMtFmthYB6bE0b_KmLMFkr1djo0AOQ-WuVaX5HS-x39-fhajuZWH8S_ML3mdZG4Qb17_Mv3ug9EwB6yB06_YKjdUE",
            "qi": "2j35JGuECw2aVZIyK903_tsTU6gfzfxMTNF75CcMYMt--UlaIa0lQhQSaTCVWeOYtUYUoV6G-sS7hmxwcSkPnlSRBy2nlB8pkcuZPnjDvatysVNuYjEoIBiisJoRN9PM6Zvn9ICFGTggnTIa-xrYKj-B0CEA8Ij_x53_hYyjEzg"
          }
        ]
      }
    clients:
      - client_id: chorus-oidc-test-client
        client_name: Chorus OIDC Test Client
        client_secret: chorus-oidc-test-client-secret
        redirect_uris:
          - "http://localhost:3000/oauthredirect"
          - "https://psteniusubi.github.io/oidc-tester/authorization-code-flow.html"
        grant_types:
          - authorization_code
          - refresh_token
          - client_credentials
          - implicit
        response_types:
          - code
        scope: "openid profile email roles"
        token_endpoint_auth_method: "client_secret_post"
  steward:
    init_tenant:
      enabled: true
      tenant_id: 1
    init_user:
      enabled: true
      user_id: 1
      username: chorus
      password: password
      roles:
        - name: Authenticated
          context:
            user: 1
    init_workspace:
      enabled: true
      workspace_id: 1
      name: Home workspace
  mailer_service:
    smtp:
      user: smtpUser
      password: smtpPassword
      host: smtp-relay.sendinblue.com
      port: 587
      authentication: "none"
  workbench_service:
    stream_proxy_enabled: true
    backend_in_k8s: false
    proxy_hit_save_batch_interval: 30s
    workbench_idle_timeout: 24h
    workbench_idle_check_interval: 10s
  workspace_service:
    enable_kill_fixed_timeout: false
    kill_fixed_timeout: 1h
  workspace_file_service:
    stores:
      archive:
        file_store_name: archive
        store_prefix: /archive
        workspace_prefix: "workspaces/%s" # %s will be replaced by the namespace name (workspace+id)
      scratch:
        file_store_name: scratch
        store_prefix: /scratch
        workspace_prefix: "workspaces/%s" # %s will be replaced by the namespace name (workspace+id)
      disk:
        file_store_name: disk
        store_prefix: /disk
        workspace_prefix: "workspaces/%s" # %s will be replaced by the namespace name (workspace+id)
        
# Client configurations added using the create-local-cluster.sh script
# clients:
#   docker_client:
#     enabled: true

log:
  loggers:
    stdout_technical:
      level: debug
    stdout_security:
      level: debug
    stdout_business:
      level: debug

