daemon:
  title: "chorus"
  grpc:
    max_recv_msg_size: 1073741824 # 1GB
    max_send_msg_size: 1073741824 # 1GB
  http:
    host: 0.0.0.0
    port: 5000
    max_call_recv_msg_size: 1073741824 # 1GB
    max_call_send_msg_size: 1073741824 # 1GB
    headers:
      access_control_allow_origins: 
        - "http://localhost:3000"
      access_control_allow_origin_wildcard: true
      access_control_max_age: "600"
      cookie_domain: "localhost"
  jwt:
    secret: eREH6oV#&6bX&zadL%eREH6oV#&6bX&zadL%
    expiration_time: 72h
    max_refresh_time: 4320h #180d
  jobs:
    job_status_gc:
      enabled: true
  private_key_file: ./configs/dev/files/keys/chorus_privkey.pem
  public_key_file: ./configs/dev/files/keys/chorus_pubkey.pem
  salt: primary-2tiptop-violator-6bloating-2coastline-1spearmint-unruffled5-comfy-operation4

storage:
  datastores:
    chorus:
      type: postgres 
      host: 127.0.0.1
      port: 5432
      username: admin
      password: password
      database: chorus
      max_connections: 10
      max_lifetime: 10s
      ssl:
        enabled: false
        certificate_file: /chorus/postgres-certs/client.crt
        key_file: /chorus/postgres-certs/client.key

services:
  index_service:
    key: value
  authentication_service:
    enabled: true
    dev_auth_enabled: true
    modes:
      internal:
        type: internal
        enabled: true
        main_source: true
        public_registration_enabled: true
        button_text: "Login with CHUV"
        icon_url: "data:image/svg+xml;base64,CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSJjdXJyZW50Q29sb3IiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1hcnJvdy1yaWdodCBtci0yIGgtNCB3LTQiPjxwYXRoIGQ9Ik01IDEyaDE0Ij48L3BhdGg+PHBhdGggZD0ibTEyIDUgNyA3LTcgNyI+PC9wYXRoPjwvc3ZnPgo="
        order: 1
      keycloak:
        type: openid
        enabled: true
        button_text: "Login with local keycloak"
        icon_url: "data:image/svg+xml;base64,CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSJjdXJyZW50Q29sb3IiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1hcnJvdy1yaWdodCBtci0yIGgtNCB3LTQiPjxwYXRoIGQ9Ik01IDEyaDE0Ij48L3BhdGg+PHBhdGggZD0ibTEyIDUgNyA3LTcgNyI+PC9wYXRoPjwvc3ZnPgo="
        order: 2
        openid:
          id: keycloak
          chorus_backend_host: "http://localhost:5000"
          enable_frontend_redirect: true
          chorus_frontend_redirect_url: "http://localhost:3000/oauthredirect"
          authorize_url: "http://localhost:8080/realms/chorus/protocol/openid-connect/auth"
          token_url: "http://localhost:8080/realms/chorus/protocol/openid-connect/token"
          user_info_url: "http://localhost:8080/realms/chorus/protocol/openid-connect/userinfo"
          logout_url: "http://localhost:8080/realms/chorus/protocol/openid-connect/logout?client_id=chorus&post_logout_redirect_uri=http://localhost:3000"
          user_name_claim: "preferred_username"
          # final_url_format: "http://localhost:3000/login?token=%s"
          client_id: chorus
          client_secret: "kIakn3wsHHpwxzY5vYicvIqMOyAQeBZv"
          scopes:
            - openid
            - profile
            - email
            - roles
      keycloakdev:
        type: openid
        enabled: true
        button_text: "Login with dev keycloak"
        icon_url: "data:image/svg+xml;base64,CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSJjdXJyZW50Q29sb3IiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1hcnJvdy1yaWdodCBtci0yIGgtNCB3LTQiPjxwYXRoIGQ9Ik01IDEyaDE0Ij48L3BhdGg+PHBhdGggZD0ibTEyIDUgNyA3LTcgNyI+PC9wYXRoPjwvc3ZnPgo="
        order: 3
        openid:
          id: keycloakdev
          chorus_backend_host: "http://localhost:5000"
          enable_frontend_redirect: true
          chorus_frontend_redirect_url: "http://localhost:3000/oauthredirect"
          authorize_url: "https://auth.dev.chorus-tre.ch/realms/chorus/protocol/openid-connect/auth"
          token_url: "https://auth.dev.chorus-tre.ch/realms/chorus/protocol/openid-connect/token"
          user_info_url: "https://auth.dev.chorus-tre.ch/realms/chorus/protocol/openid-connect/userinfo"
          logout_url: "https://auth.dev.chorus-tre.ch/realms/chorus/protocol/openid-connect/logout?client_id=chorus&post_logout_redirect_uri=http://localhost:3000"
          user_name_claim: "preferred_username"
          # final_url_format: "http://localhost:3000/login?token=%s"
          client_id: chorus
          client_secret: "73JeNqH0iMSi9UEcuydEpIgW2CoX5ABz"
          scopes:
            - openid
            - profile
            - email
            - roles
  openid_connect_provider:
    enabled: true
    # issuer_url: "http://localhost:5000/openid-connect"
    # frontend_login_url: "http://localhost:3000/login"
    frontend_login_url: "http://localhost:5000/dev-auth"
    clients:
      - client_id: chorus-oidc-test-client
        client_name: Chorus OIDC Test Client
        client_secret: chorus-oidc-test-client-secret
        redirect_uris:
          - "http://localhost:3000/oauthredirect"
          - "https://psteniusubi.github.io/oidc-tester/authorization-code-flow.html"
        grant_types:
          - authorization_code
          - refresh_token
          - client_credentials
          - implicit
        response_types:
          - code
        scope: "openid profile email roles"
        token_endpoint_auth_method: "client_secret_post"
  steward:
    init_tenant:
      enabled: true
      tenant_id: 1
    init_user:
      enabled: true
      user_id: 1
      username: chorus
      password: password
      roles:
        - name: Authenticated
          context:
            user: 1
    init_workspace:
      enabled: true
      workspace_id: 1
      name: Home workspace
  mailer_service:
    smtp:
      user: smtpUser
      password: smtpPassword
      host: smtp-relay.sendinblue.com
      port: 587
      authentication: "none"
  workbench_service:
    stream_proxy_enabled: true
    backend_in_k8s: false
    proxy_hit_save_batch_interval: 30s
    workbench_idle_timeout: 24h
  workspace_service:
    enable_kill_fixed_timeout: false
    kill_fixed_timeout: 1h
  workspace_file_service:
    stores:
      archive:
        client_type: minio
        client_name: archive
        store_prefix: /archive
        workspace_prefix: "workspaces/%s" # %s will be replaced by the namespace name (workspace+id)
      scratch:
        client_type: minio
        client_name: scratch
        store_prefix: /scratch
        workspace_prefix: "workspaces/%s"

# Client configurations added using the create-local-cluster.sh script
# clients:
#   docker_client:
#     enabled: true
#   minio_clients:
#     archive:
#       enabled: true
#       endpoint: localhost:9000
#       bucket_name: chorus-data
#       access_key_id: minioadmin
#       secret_access_key: minioadmin
#       use_ssl: false
#   k8s_client:
#     server_version: "6.2.3-2"
#     kube_config: |
#       ...  

log:
  loggers:
    stdout_technical:
      level: debug
    stdout_security:
      level: debug
    stdout_business:
      level: debug

