version: '3'
name: chorus-backend-dev-container
services:
  # chorus:
  #   build:
  #     context: ..
  #     dockerfile: docker/dockerfiles/dev.dockerfile
  #   volumes:
  #     - ..:/workspace:cached
  #     - /run/docker.sock:/run/docker.sock
  #   command: /bin/sh -c "while sleep 1000; do :; done"
  postgres:
    image: postgres
    # user: "<UID>:<GID>"  # Replace with your actual UID:GID
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: chorus
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - ../docker/.postgresvolume:/var/lib/postgresql/data
      - ../docker/init_db.sql:/docker-entrypoint-initdb.d/init.sql
  minio:
    container_name: minio
    image: minio/minio
    ports:
      - "127.0.0.1:9000:9000"
      - "127.0.0.1:9001:9001"
    environment:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin
    volumes:
      - ../docker/.miniovolume:/data
    command: server /data --console-address ":9001"
